<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
	  <!--<add name="SqlConnectionString" connectionString="Server=KATYHUERTA\SQLEXPRESS; Database=FisioKH;Integrated Security=True;Connect Timeout=5;" providerName="System.Data.SqlClient" />-->
    <add name="SqlConnectionString" connectionString="Server=LAPTOP-75HQEMFF\SQLEXPRESS; Database=FisioKH;User ID=sa;Password=newroot;Connect Timeout=5;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Fisio KH -Ingresos" />
    <!--<add key="calendarApiFile" value="assets/GoogleCalendarCredentialsFisioKhFile.json" />-->
    <add key="calendarApiFile" value="assets/GoogleCalendarCredentialsFisioKhFileGVS.json" />
    <add key="tabsSeguras" value="1,2,3" />
    <add key="pac_pv" value="Primera Vez|Orange" />
    <add key="pac_reg" value="Regular|Blue" />
    <add key="pac_esp" value="Especial|Red" />
    <add key="pac_vip" value="VIP|Green" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>