<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SqlConnectionString" 
         connectionString="Server=LAPTOP-75HQEMFF\SQLEXPRESS; Database=FisioKH;User ID=sa;Password=newroot;Connect Timeout=5;"
      providerName="System.Data.SqlClient" />
    <add name="FisioKH.Properties.Settings.FisioKHConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=FisioKH;Integrated Security=True;Connect Timeout=5;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Fisio KH -Ingresos"/>
    <add key="tabsSeguras" value="1,2,3"/>
  </appSettings>
</configuration>